<ukg-app-shell defaultTranslationPath>
  <div>
    <ukg-grid-container>
      <ukg-grid
        style="--grid-row-container-alignment: center; text-align: center"
        size="full-width"
        wrap="none"
      >
        <div style="display: flex; justify-content: center; width: 100%">
          <h1 class="heading">DLS Upgrade Demo!</h1>
        </div>
      </ukg-grid>
      <ukg-grid
        style="--grid-row-container-alignment: center"
        size="full-width"
      >
        <div class="ukg-col-lg-4 ukg-col-md-4 ukg-col-sm-4 brand">
          <div class="grid-example-box"></div>
        </div>
        <div class="ukg-col-lg-4 ukg-col-md-4 ukg-col-sm-4 action">
          <div class="grid-example-box"></div>
        </div>
        <div class="ukg-col-lg-4 ukg-col-md-4 ukg-col-sm-4 surface">
          <div class="grid-example-box"></div>
        </div>
      </ukg-grid>
      <ukg-grid
        style="--grid-row-container-alignment: center; text-align: center"
        size="full-width"
        wrap="none"
      >
        <div style="display: flex; justify-content: center; width: 100%">
          <app-datatable></app-datatable>
        </div>
      </ukg-grid>
      <ukg-grid
        style="--grid-row-container-alignment: center"
        size="full-width"
        wrap="none"
      >
        <div style="display: flex; justify-content: start; width: 100%">
          <app-checkboxes></app-checkboxes>
        </div>
      </ukg-grid>
    </ukg-grid-container>
  </div>
</ukg-app-shell>
